section.about-and-sp-menu.bg-white-smoke
    .container
        .row
            .col-md-7.title
                .section-align-title-area
                    .section-title-style-inner
                        h3.section-name
                            | For the Menu
                        h2.section-align-title
                            | Special Dishes Today                        
                        h4.section-align-sub-title
                            | 10.00 to 16.00
                        .special-tab-content
                            ul(class="nav nav-tabs responsive" role="tablist")
                                li.active
                                    a(href="#burger-menu-1" role="tab" data-toggle="tab")
                                        | Burger
                                li
                                    a(href="#beverages-menu-2" role="tab" data-toggle="tab")
                                        | Beverages
                                li
                                    a(href="#pasta-menu-3" role="tab" data-toggle="tab")
                                        | Pasta                                
                                li
                                    a(href="#indian-food-menu-4" role="tab" data-toggle="tab")
                                        | Indian Food
                            .tab-content.responsive
                                //Tab panes
                                .tab-pane.fade.in.active(role="tabpanel" id="burger-menu-1")
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25 
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25 
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25 
                                .tab-pane.fade(role="tabpanel" id="beverages-menu-2")
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25 
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25 
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25    
                                .tab-pane.fade(role="tabpanel" id="pasta-menu-3")
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25 
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25 
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25    
                                .tab-pane.fade(role="tabpanel" id="indian-food-menu-4")
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25 
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25  
                                    .menu-item-one.tb
                                        .image-area.tb-cell
                                            a(href="#")
                                                img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                        .item-text.tb-cell
                                            h5.menu-title
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.price-inner.hidden-md.hidden-lg
                                                    | $25
                                            p.menu-description
                                                | Welcome to Risotto restaurant website. Here we try to share our
                                        .item-price.tb-cell.hidden-xs.hidden-sm
                                            .price-inner
                                                | $25    
                        <!--/.special-tab-content-->
                    <!--/.section-title-style-inner-->
                <!--/.section-title-area-->
            <!--/.col-md-6-->
            .col-md-5.gallery
                .row
                    .col-md-12
                        h2.gallery-section-name
                            | We love <span>To Make</span><span>Food</span>
                .row.padding-reset-section
                    //single-best-place
                    .col-md-6.col-sm-6.col-xs-6.padding-reset
                        .single-best-place
                            .best-place-thumb
                                img.box-radius(src="images/gallery/special/1.png" alt="img")
                            <!--/.best-place-thumb-->
                        <!--/.single-best-place-->
                    <!--/.col-md-3-->
                    
                    //single-best-place
                    .col-md-6.col-sm-6.col-xs-6.padding-reset
                        .single-best-place
                            .best-place-thumb
                                img.box-radius(src="images/gallery/special/2.png" alt="img")
                            <!--/.best-place-thumb-->
                        <!--/.single-best-place-->
                    <!--/.col-md-3-->

                    .clearfix.hidden-xs
                    
                    //single-best-place
                    .col-md-6.col-sm-6.col-xs-6.padding-reset
                        .single-best-place
                            .best-place-thumb
                                img.box-radius(src="images/gallery/special/3.png" alt="img")
                            <!--/.best-place-thumb-->
                        <!--/.single-best-place-->
                    <!--/.col-md-3-->
                    
                    //single-best-place
                    .col-md-6.col-sm-6.col-xs-6.padding-reset
                        .single-best-place
                            .best-place-thumb
                                img.box-radius(src="images/gallery/special/4.png" alt="img")
                            <!--/.best-place-thumb-->
                        <!--/.single-best-place-->
                    <!--/.col-md-3-->            
                <!--/.row-->
            <!--/.gallery-->
        <!--/.row-->
    <!--/.container-->
<!--/.best-place-section-->