section.booking-with-chif.margin-top
    .container
        .row
            .col-md-4.col-sm-6
                form.online-book-form.style-one.color-two(action="#")
                    h2.book-form-title
                        | Take a <span>reservation</span>
                    .row
                        .col-md-12
                            .input
                                input.form-controller(type="text" placeholder="Name")
                            <!--/.input-->
                        <!--/.col-md-12-->

                        .col-md-12
                            .input
                                input.form-controller(type="email" placeholder="E-mail")
                            <!--/.input-->
                        <!--/.col-md-12-->                        

                        .col-md-12
                            .input
                                input.form-controller(type="text" placeholder="Phone")
                            <!--/.input-->
                        <!--/.col-md-12-->
                        
                        .col-md-12
                            .input
                                i.fa.fa-calendar
                                input.calendar.form-controller(type="text" placeholder="Date")
                            <!--/.input-->
                        <!--/.col-md-12-->                        

                        .col-md-12
                            .input
                                input.form-controller(type="text" placeholder="Time")
                            <!--/.input-->
                        <!--/.col-md-12-->

                        .col-md-12
                            .input
                                textarea.form-controller(name="message" placeholder="Message")
                            <!--/.input-->
                        <!--/.col-md-12-->
                        
                        .col-md-12
                            a.btn.btn-default(href="#")
                                | Book A Table
                            <!--/.btn-->
                        <!--/.col-md-12-->
                    <!--/.row-->  
                <!--/.online-book-form-->
            <!--/.col-md-4-->
            .col-md-8.col-sm-6
                .head-chif-details
                    h2.heading-title
                        | Mark Jahid
                    h5.sub-heading-title
                        | Head Chef
                    p 
                        | Welcome to Livekitchen restaurant website. Here we try to share our vision about food quality, our mission about customer’s satisfaction and introducing services that we provide for each one of you.
                    .chif-sign
                        img(src="images/head-chip-sign.png" alt="sign")
                    a.btn.btn-default
                        | More
                <!--/.head-chif-details-->                
                .head-chif-image
                    img(src="images/head-chip-image.png" alt="head-chif-image")
                <!--/.head-chif-image-->
            <!--/.col-md-8-->
        <!--/.row-->
    <!--/.container-->
<!--/.online-book-section-->