section.booking-with-chif.bg-white-smoke
    .container
        .row
            .col-md-12
                form.online-book-form.style-two(action="#")
                    h2.book-form-title
                        | Take a <span>reservation</span>
                    .row
                        .col-md-3
                            label
                                | Person
                            .input
                                i.fa.fa-user
                                input.form-controller(type="text" placeholder="4 Person")
                            <!--/.input-->
                        <!--/.col-md-3-->                      
                        
                        .col-md-3
                            label
                                | Date
                            .input
                                i.fa.fa-calendar
                                input.calendar.form-controller(type="text" placeholder="Date")
                            <!--/.input-->
                        <!--/.col-md-3-->                        

                        .col-md-3
                            label
                                | Time
                            .input
                                input.form-controller(type="text" placeholder="Time")
                            <!--/.input-->
                        <!--/.col-md-3-->
                        
                        .col-md-3
                            a.btn.btn-default(href="#")
                                | Book A Table
                            <!--/.btn-->
                        <!--/.col-md-3-->
                    <!--/.row-->  
                <!--/.online-book-form-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.online-book-section-->