section.our-menu-section.zero-pd-top
    .container-fluid
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title.italic-style
                        | Our <br> Delicious Menu
                    p.section-title-dec
                        | Best offer from house chef
            .clearfix

            .menu-content-area.zero-pd-top
                .container
                    .row
                        .col-md-6
                            .menu-item-heading.text-center(style="background-image: url(images/menu/menu-item-bg-1.jpg);")
                                h3 Our <br> Breakfast menu
                                h5 The menu active - 8.00am to 11.30pm
                            <!--/.menu-item-heading-->                       
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                        .col-md-6
                            .menu-item-heading.text-center(style="background-image: url(images/menu/menu-item-bg-2.jpg);")
                                h3 Our <br> Lunch menu
                                h5 The menu active - 7.00pm to 11.30pm
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
            <!--/.menu-content-area-->
            .menu-content-area
                .container
                    .row
                        .col-md-6
                            .menu-item-heading.text-center(style="background-image: url(images/menu/menu-item-bg-1.jpg);")
                                h3 Our <br> Dinner menu
                                h5 The menu active - 8.00am to 11.30pm
                            <!--/.menu-item-heading-->                       
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                        .col-md-6
                            .menu-item-heading.text-center(style="background-image: url(images/menu/menu-item-bg-2.jpg);")
                                h3 Our <br> Fast Food menu
                                h5 The menu active - 7.00pm to 11.30pm
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                <!--/.peo-number-->
                                .item-price.tb-cell
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
            <!--/.menu-content-area-->
            .menu-content-area
                .container
                    .row
                        .col-md-6
                            .menu-item-heading.text-center(style="background-image: url(images/menu/menu-item-bg-1.jpg);")
                                h3 Our <br> Drinks menu
                                h5 The menu active - 8.00am to 11.30pm
                            <!--/.menu-item-heading-->                       
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                        .col-md-6
                            .menu-item-heading.text-center(style="background-image: url(images/menu/menu-item-bg-2.jpg);")
                                h3 Our <br> Set menu
                                h5 The menu active - 7.00pm to 11.30pm
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                <!--/.peo-number-->
                                .item-price.tb-cell
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-three.tb
                                .image-area.tb-cell
                                    a(href="#")
                                        img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
            <!--/.menu-content-area-->
        <!--/.row-->
    <!--/.container-fluid-->
<!--/.our-menu-section-->