section.our-menu-section.zero-pd-top
    .container-fluid
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title.italic-style
                        | Our <br> Delicious Menu
                    p.section-title-dec
                        | Best offer from house chef
            .clearfix

            .menu-special-heading
                .tb-cell.lv-col-big
                    .bg-image.overlay-bg(style="background-image: url(images/menu/menu-title-bg-1.jpg);")
                        .section-title-area.text-center
                            h2.section-title
                                | Our <br> Breakfast Menu
                            p.section-title-dec
                                | This menu active from 8.00am - 12.00pm
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-2.jpg);")
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-3.jpg);")
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-4.jpg);")
            <!--/.menu-special-heading-->

            .menu-content-area
                .container
                    .row
                        .col-md-6                        
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                        .col-md-6
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
            <!--/.menu-content-area-->

            .menu-special-heading.style-two
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-8.jpg);")
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-7.jpg);")
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-6.jpg);")
                .tb-cell.lv-col-big
                    .bg-image.overlay-bg(style="background-image: url(images/menu/menu-title-bg-5.jpg);")
                        .section-title-area.text-center
                            h2.section-title
                                | Our <br> Lunch Menu
                            p.section-title-dec
                                | This menu active from 12.00pm - 03.00pm
            <!--/.menu-special-heading-->

            .menu-content-area
                .container
                    .row
                        .col-md-6                        
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                        .col-md-6
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
            <!--/.menu-content-area-->

            .menu-special-heading
                .tb-cell.lv-col-big
                    .bg-image.overlay-bg(style="background-image: url(images/menu/menu-title-bg-9.jpg);")
                        .section-title-area.text-center
                            h2.section-title
                                | Our <br> Dinner Menu
                            p.section-title-dec
                                | This menu active from 7.009m - 12.00am
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-10.jpg);")
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-11.jpg);")
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-12.jpg);")
            <!--/.menu-special-heading-->

            .menu-content-area
                .container
                    .row
                        .col-md-6                        
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                        .col-md-6
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
            <!--/.menu-content-area-->

            .menu-special-heading.style-two
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-8.jpg);")
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-7.jpg);")
                .tb-cell.lv-col-small
                    .bg-image(style="background-image: url(images/menu/menu-title-bg-6.jpg);")
                .tb-cell.lv-col-big
                    .bg-image.overlay-bg(style="background-image: url(images/menu/menu-title-bg-5.jpg);")
                        .section-title-area.text-center
                            h2.section-title
                                | Our <br> Fast Food Menu
                            p.section-title-dec
                                | This menu active all time
            <!--/.menu-special-heading-->

            .menu-content-area
                .container
                    .row
                        .col-md-6                        
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                        .col-md-6
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
                            .menu-item-one.style-two.color-normal.tb
                                .item-text.tb-cell
                                    h5.menu-title.color-black
                                        a(href="#")
                                            | Deer Steak with Potatoes
                                        span.peo-mobile.hidden-md.hidden-lg
                                            | For 2 People
                                        span.price.hidden-md.hidden-lg
                                            | $25
                                    ul.menu-item-meta
                                        li 
                                            |Egg
                                        li
                                            |Apple
                                        li
                                            |Butter
                                        li
                                            |Faw Ruti
                                        li
                                            |Coffee
                                .peo-number.tb-cell.hidden-sm.hidden-xs
                                    span
                                        |For 2 People
                                <!--/.peo-number-->
                                .item-price.tb-cell.hidden-sm.hidden-xs
                                    .price-inner.color-black
                                        | $25
                            <!--/.menu-item-one-->
            <!--/.menu-content-area-->
        <!--/.row-->
    <!--/.container-fluid-->
<!--/.our-menu-section-->