
.single-gallery-group
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title
                        |Our <br> Photo Gallery
                    p.section-title-dec
                        |Our Awesome Photos
                <!--/.section-title-area-->
            <!--/.col-md-12-->
        <!--/.row-->
        .row
            .col-md-12
                .single-gallery-content
                    .row
                        .col-md-12
                            ul.gallery-filter-menu
                                li.current-tab
                                    a(href="#" data-filter="*" class="filter")
                                        |Show All
                                li
                                    a(href="#" data-filter=".wedding" class="filter")
                                        |wedding
                                li
                                    a(href="#" data-filter=".concert" class="filter")
                                        |Concert
                                li
                                    a(href="#" data-filter=".fun" class="filter")
                                        |fun
                                li
                                    a(href="#" data-filter=".overview" class="filter")
                                        |overview
                            <!--/.gallery-filter-menu-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                    .row.masonry-layout.gallery-item-content
                        .col-md-3.grid.overview
                            .single-item
                                img(src="images/gallery/img-gallery-1.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-1.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                img(src="images/gallery/img-gallery-2.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-2.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                img(src="images/gallery/img-gallery-3.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-3.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                img(src="images/gallery/img-gallery-4.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-4.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                img(src="images/gallery/img-gallery-5.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-5.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                img(src="images/gallery/img-gallery-6.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-6.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                img(src="images/gallery/img-gallery-7.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-7.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                img(src="images/gallery/img-gallery-8.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-8.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                img(src="images/gallery/img-gallery-9.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-9.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.overview
                            .single-item
                                img(src="images/gallery/img-gallery-10.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-10.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                img(src="images/gallery/img-gallery-11.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-11.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                img(src="images/gallery/img-gallery-12.jpg" alt="img")
                                .overlay-gallery
                                    a.image-popup-btn(href="images/gallery/img-gallery-12.jpg")
                                        i.fa.fa-picture-o
                            <!--/.single-item-->
                        <!--/.grid-->
                    <!--/.gallery-item-content-->
                <!--/.single-gallery-content-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.single-gallery-group-->

.single-gallery-group
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title
                        |Our <br> Video Gallery
                    p.section-title-dec
                        |Our Awesome Videos
                <!--/.section-title-area-->
            <!--/.col-md-12-->
        <!--/.row-->
        .row
            .col-md-12
                .single-gallery-content
                    .row
                        .col-md-12
                            ul.gallery-filter-menu
                                li.current-tab
                                    a(href="#" data-filter="*" class="filter")
                                        |Show All
                                li
                                    a(href="#" data-filter=".wedding" class="filter")
                                        |wedding
                                li
                                    a(href="#" data-filter=".concert" class="filter")
                                        |Concert
                                li
                                    a(href="#" data-filter=".fun" class="filter")
                                        |fun
                                li
                                    a(href="#" data-filter=".overview" class="filter")
                                        |overview
                            <!--/.gallery-filter-menu-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                    .row.masonry-layout.gallery-item-content
                        .col-md-3.grid.overview
                            .single-item
                                img(src="images/gallery/img-gallery-12.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                img(src="images/gallery/img-gallery-11.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                img(src="images/gallery/img-gallery-10.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                img(src="images/gallery/img-gallery-9.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                img(src="images/gallery/img-gallery-8.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                img(src="images/gallery/img-gallery-7.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                img(src="images/gallery/img-gallery-6.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                img(src="images/gallery/img-gallery-5.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                img(src="images/gallery/img-gallery-4.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.overview
                            .single-item
                                img(src="images/gallery/img-gallery-3.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                img(src="images/gallery/img-gallery-2.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                img(src="images/gallery/img-gallery-1.jpg" alt="img")
                                .overlay-gallery
                                    a.video-popup-btn(href="https://www.youtube.com/watch?v=ATPSbXd4YzU&list=RDQMTUxZjT86bjA")
                                        i.fa.fa-film
                            <!--/.single-item-->
                        <!--/.grid-->
                    <!--/.gallery-item-content-->
                <!--/.single-gallery-content-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.single-gallery-group-->