.welcome-slider
    .container-fluid
        .row
            .pogoSlider.js-main-slider
                .pogoSlider-slide.style-one(data-transition="shrinkReveal" data-duration="1000"  style="background-image:url(images/slide-bg1.jpg);")
                    h2.slider-heading-main
                        |Welcome <span>Livekitchen Testy Food</span>
                    <!--/.water-wrap-->
                    .slider-container
                        .slider-main-content
                            .image-before
                                .heading.pogoSlider-slide-element(data-in="slideLeft" data-out="slideUp" data-duration="750" data-delay="600")
                                    h2 American <span>Burger</span>
                                .content
                                    .content-text.pogoSlider-slide-element(data-in="slideUp" data-out="slideDown" data-duration="750" data-delay="500")
                                        | Super Testy
                                    .content-text.pogoSlider-slide-element(data-in="slideRight" data-out="slideRight" data-duration="750" data-delay="500")
                                        | Professional
                            .image-content.pogoSlider-slide-element(data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500")
                                img(src="images/slider/slider-01.png" alt="slider-burger")
                            .image-after
                                .heading.pogoSlider-slide-element(data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="600")
                                    h2 Indian <span>Food</span>
                                .content
                                    .content-text.pogoSlider-slide-element(data-in="slideRight" data-out="slideDown" data-duration="750" data-delay="500")
                                        | Creative
                                    .content-text.pogoSlider-slide-element(data-in="slideRight" data-out="slideDown" data-duration="750" data-delay="500") 
                                        | Special Offer
                                    .content-text.pogoSlider-slide-element(data-in="slideRight" data-out="slideDown" data-duration="750" data-delay="500") 
                                        | Fast
                        <!--/..image-content-->
                    <!--/.slider-container-->

                .pogoSlider-slide.style-two(data-transition="shrinkReveal" data-duration="1000"  style="background-image:url(images/slide-bg1.jpg);")
                    h2.slider-heading-main.pogoSlider-slide-element(data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="600")
                        |Welcome <span>Livekitchen Testy Food</span>
                    <!--/.water-wrap-->
                    .slider-container
                        .slider-main-content
                            .image-before
                                .heading.pogoSlider-slide-element(data-in="slideLeft" data-out="slideUp" data-duration="750" data-delay="600")
                                    h2 Food
                            .image-content.pogoSlider-slide-element(data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500")
                                img(src="images/slider/slider-02.png" alt="slider-burger")
                            .image-after
                                .heading.pogoSlider-slide-element(data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="600")
                                    h2 Indian Mixed Food
                                .content
                                    .content-button.pogoSlider-slide-element(data-in="slideRight" data-out="slideDown" data-duration="750" data-delay="500")
                                        a.btn.btn-default
                                            | Special Offer
                        <!--/..image-content-->
                    <!--/.slider-container-->
            <!-- .pogoSlider -->
        <!--/.row-->
    <!--/.container-fluid-->
<!--/.welcome-slider-->