section.our-delicious-menu.jarallax(data-jarallax='{"speed": 0.3, "imgSrc": "images/menu/menu-bg-one.jpg" }')
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title.italic-style.color-white
                        | Our <br> Delicious Menu
                    p.section-title-dec
                        | Best offer from house chef
            .clearfix

            .col-md-12
                .special-tab-content.style-two
                    ul(class="nav nav-tabs nav-tabs responsive" role="tablist")
                        li.active
                            a(href="#burger-menu" role="tab" data-toggle="tab")
                                | Burger
                        li
                            a(href="#beverages-menu" role="tab" data-toggle="tab")
                                | Beverages
                        li
                            a(href="#pasta-menu" role="tab" data-toggle="tab")
                                | Pasta                                
                        li
                            a(href="#indian-food-menu" role="tab" data-toggle="tab")
                                | Indian Food
                        li
                            a(href="#pizza-menu" role="tab" data-toggle="tab")
                                | Pizza 
                        li
                            a(href="#soft-drinks-menu" role="tab" data-toggle="tab")
                                | Soft Drinks
                        li
                            a(href="#drinks-menu" role="tab" data-toggle="tab")
                                | Drinks
                    .tab-content.responsive
                        //Tab panes
                        .tab-pane.active.fade.in(role="tabpanel" id="burger-menu")
                            .row
                                .col-md-6                        
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                .col-md-6
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                        .tab-pane.fade(role="tabpanel" id="beverages-menu")
                            .row
                                .col-md-6                        
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                .col-md-6
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                        .tab-pane.fade(role="tabpanel" id="pasta-menu")
                            .row
                                .col-md-6                        
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                .col-md-6
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                        .tab-pane.fade(role="tabpanel" id="indian-food-menu")
                            .row
                                .col-md-6                        
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                .col-md-6
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
                                    .menu-item-one.style-two.tb
                                        .item-text.tb-cell
                                            h5.menu-title.color-ash
                                                a(href="#")
                                                    | Deer Steak with Potatoes
                                                span.peo-mobile.hidden-md.hidden-lg
                                                    | For 2 People
                                                span.price.hidden-md.hidden-lg
                                                    | $25
                                            ul.menu-item-meta
                                                li 
                                                    |Egg
                                                li
                                                    |Apple
                                                li
                                                    |Butter
                                                li
                                                    |Faw Ruti
                                                li
                                                    |Coffee
                                        .peo-number.tb-cell.hidden-sm.hidden-xs
                                            span
                                                |For 2 People
                                        <!--/.peo-number-->
                                        .item-price.tb-cell.hidden-sm.hidden-xs
                                            .price-inner.color-ash
                                                | $25
                                    <!--/.menu-item-one-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.best-place-section-->