section.our-delicious-menu.jarallax(data-jarallax='{"speed": 0.3, "imgSrc": "images/menu/menu-bg-two.jpg" }')
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h3.section-name
                        | Today's Special
                    h2.section-title.italic-style
                        | Our Delicious Menu
                    p.section-title-dec
                        | Best offer from house chef
            .clearfix

            .col-md-12.menu-area-three
                .row
                    .col-md-6.col-sm-6
                        .menu-item-heading.text-center(style="background-image: url(images/menu/menu-item-bg-1.jpg);")
                            h3 Our <br> full day menu
                            h5 The menu active - 8.00am to 11.30pm
                        <!--/.menu-item-heading-->                       
                        .menu-item-one.style-three.tb
                            .image-area.tb-cell
                                a(href="#")
                                    img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                            .item-text.tb-cell
                                h5.menu-title.color-black
                                    a(href="#")
                                        | Deer Steak with Potatoes
                                    span.price.hidden-md.hidden-lg
                                        | $25
                                ul.menu-item-meta
                                    li 
                                        |Egg
                                    li
                                        |Apple
                                    li
                                        |Butter
                                    li
                                        |Faw Ruti
                                    li
                                        |Coffee
                            .item-price.tb-cell.hidden-sm.hidden-xs
                                .price-inner.color-black
                                    | $25
                        <!--/.menu-item-one-->
                        .menu-item-one.style-three.tb
                            .image-area.tb-cell
                                a(href="#")
                                    img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                            .item-text.tb-cell
                                h5.menu-title.color-black
                                    a(href="#")
                                        | Deer Steak with Potatoes
                                    span.price.hidden-md.hidden-lg
                                        | $25
                                ul.menu-item-meta
                                    li 
                                        |Egg
                                    li
                                        |Apple
                                    li
                                        |Butter
                                    li
                                        |Faw Ruti
                                    li
                                        |Coffee
                            .item-price.tb-cell.hidden-sm.hidden-xs
                                .price-inner.color-black
                                    | $25
                        <!--/.menu-item-one-->
                        .menu-item-one.style-three.tb
                            .image-area.tb-cell
                                a(href="#")
                                    img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                            .item-text.tb-cell
                                h5.menu-title.color-black
                                    a(href="#")
                                        | Deer Steak with Potatoes
                                    span.price.hidden-md.hidden-lg
                                        | $25
                                ul.menu-item-meta
                                    li 
                                        |Egg
                                    li
                                        |Apple
                                    li
                                        |Butter
                                    li
                                        |Faw Ruti
                                    li
                                        |Coffee
                            .item-price.tb-cell.hidden-sm.hidden-xs
                                .price-inner.color-black
                                    | $25
                        <!--/.menu-item-one-->
                        .menu-item-one.style-three.tb
                            .image-area.tb-cell
                                a(href="#")
                                    img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                            .item-text.tb-cell
                                h5.menu-title.color-black
                                    a(href="#")
                                        | Deer Steak with Potatoes
                                    span.price.hidden-md.hidden-lg
                                        | $25
                                ul.menu-item-meta
                                    li 
                                        |Egg
                                    li
                                        |Apple
                                    li
                                        |Butter
                                    li
                                        |Faw Ruti
                                    li
                                        |Coffee
                            .item-price.tb-cell.hidden-sm.hidden-xs
                                .price-inner.color-black
                                    | $25
                        <!--/.menu-item-one-->
                    .col-md-6.col-sm-6
                        .menu-item-heading.text-center(style="background-image: url(images/menu/menu-item-bg-2.jpg);")
                            h3 Our <br> Night menu
                            h5 The menu active - 7.00pm to 11.30pm
                        .menu-item-one.style-three.tb
                            .image-area.tb-cell
                                a(href="#")
                                    img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                            .item-text.tb-cell
                                h5.menu-title.color-black
                                    a(href="#")
                                        | Deer Steak with Potatoes
                                    span.price.hidden-md.hidden-lg
                                        | $25
                                ul.menu-item-meta
                                    li 
                                        |Egg
                                    li
                                        |Apple
                                    li
                                        |Butter
                                    li
                                        |Faw Ruti
                                    li
                                        |Coffee
                            .item-price.tb-cell.hidden-sm.hidden-xs
                                .price-inner.color-black
                                    | $25
                        <!--/.menu-item-one-->
                        .menu-item-one.style-three.tb
                            .image-area.tb-cell
                                a(href="#")
                                    img(src="images/menu/menu-item-2.jpg" alt="menu-item")
                            .item-text.tb-cell
                                h5.menu-title.color-black
                                    a(href="#")
                                        | Deer Steak with Potatoes
                                    span.price.hidden-md.hidden-lg
                                        | $25
                                ul.menu-item-meta
                                    li 
                                        |Egg
                                    li
                                        |Apple
                                    li
                                        |Butter
                                    li
                                        |Faw Ruti
                                    li
                                        |Coffee
                            .item-price.tb-cell.hidden-sm.hidden-xs
                                .price-inner.color-black
                                    | $25
                        <!--/.menu-item-one-->
                        .menu-item-one.style-three.tb
                            .image-area.tb-cell
                                a(href="#")
                                    img(src="images/menu/menu-item-3.jpg" alt="menu-item")
                            .item-text.tb-cell
                                h5.menu-title.color-black
                                    a(href="#")
                                        | Deer Steak with Potatoes
                                    span.price.hidden-md.hidden-lg
                                        | $25
                                ul.menu-item-meta
                                    li 
                                        |Egg
                                    li
                                        |Apple
                                    li
                                        |Butter
                                    li
                                        |Faw Ruti
                                    li
                                        |Coffee
                            .item-price.tb-cell.hidden-sm.hidden-xs
                                .price-inner.color-black
                                    | $25
                        <!--/.menu-item-one-->
                        .menu-item-one.style-three.tb
                            .image-area.tb-cell
                                a(href="#")
                                    img(src="images/menu/menu-item-1.jpg" alt="menu-item")
                            .item-text.tb-cell
                                h5.menu-title.color-black
                                    a(href="#")
                                        | Deer Steak with Potatoes
                                    span.price.hidden-md.hidden-lg
                                        | $25
                                ul.menu-item-meta
                                    li 
                                        |Egg
                                    li
                                        |Apple
                                    li
                                        |Butter
                                    li
                                        |Faw Ruti
                                    li
                                        |Coffee
                            .item-price.tb-cell.hidden-sm.hidden-xs
                                .price-inner.color-black
                                    | $25
                        <!--/.menu-item-one-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.best-place-section-->