.page-heading-area.jarallax(data-jarallax='{"speed": 0.3, "imgSrc": "images/menu/menu-bg-four.jpg"}')
    .container
        .row
            .col-md-12.text-center
                h2.page-heading
                    block pagetitle
                <!--/.page-heading-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container--> 
<!--/.page-heading-area-->