extends jade-parts/docwrapper

append sitewellcome
    //- Included Home One Welcome
    include jade-parts/home01-welcome.jade

append sitecontent
    //- Included Online Book Content Two
    include jade-parts/book-table-head-chif-two.jade

    include jade-parts/about-and-special-dishes-two.jade
    include jade-parts/our-delicious-menu-two.jade

    //- Included Home Page Main Content
    include jade-parts/home-page-main-content.jade