.events-page-area.bg-white-smoke
    .container
        .row
            .col-md-11.col-full-width
                .monthly-events-scdeule
                    h2.event-month-name.text-center
                        span
                            |January 2017
                    <!--/.event-month-name-->
                    .events-list
                        .single-event
                            .row
                                .col-md-6.col-sm-6.col-xs-6
                                    .event-content
                                        .event-thumb
                                            img(src="images/event/img-1.jpg" alt="event-thumb")
                                        .event-info.clearfix
                                            .time-from
                                                h3.date
                                                    |<span>31</span> January 
                                                h4.day
                                                    | Tuesday
                                                h2.event-title
                                                    |Pixelll Manager;s Session
                                                a.btn.btn-details(href="event-list.html")
                                                    |view detail
                                            <!--/.time-from-->
                                        <!--/.event-info-->
                                    <!--/.event-content-->
                                <!--/.col-md-6-->
                                .col-md-6.col-sm-6.col-xs-6
                                    .event-content
                                        .event-thumb
                                            img(src="images/event/img-2.jpg" alt="event-thumb")
                                        .event-info.clearfix
                                            .time-from
                                                h3.date
                                                    |<span>31</span> January 
                                                h4.day
                                                    | Tuesday
                                                h2.event-title
                                                    |Pixelll Manager;s Session
                                                a.btn.btn-details(href="event-list.html")
                                                    |view detail
                                            <!--/.time-from-->
                                        <!--/.event-info-->
                                    <!--/.event-content-->
                                <!--/.col-md-7-->
                            <!--/.row-->
                        <!--/.single-event-->

                        .single-event
                            .row
                                .col-md-6.col-sm-6.col-xs-6
                                    .event-content
                                        .event-thumb
                                            img(src="images/event/img-1.jpg" alt="event-thumb")
                                        .event-info.clearfix
                                            .time-from
                                                h3.date
                                                    |<span>31</span> January 
                                                h4.day
                                                    | Tuesday
                                                h2.event-title
                                                    |Pixelll Manager;s Session
                                                a.btn.btn-details(href="event-list.html")
                                                    |view detail
                                            <!--/.time-from-->
                                        <!--/.event-info-->
                                    <!--/.event-content-->
                                <!--/.col-md-6-->
                                .col-md-6.col-sm-6.col-xs-6
                                    .event-content
                                        .event-thumb
                                            img(src="images/event/img-2.jpg" alt="event-thumb")
                                        .event-info.clearfix
                                            .time-from
                                                h3.date
                                                    |<span>31</span> January 
                                                h4.day
                                                    | Tuesday
                                                h2.event-title
                                                    |Pixelll Manager;s Session
                                                a.btn.btn-details(href="event-list.html")
                                                    |view detail
                                            <!--/.time-from-->
                                        <!--/.event-info-->
                                    <!--/.event-content-->
                                <!--/.col-md-7-->
                            <!--/.row-->
                        <!--/.single-event-->
                    <!--/.events-list-->
                <!--/.monthly-events-scdeule-->
            <!--/.col-md-6-->
            
            .col-md-11.col-full-width
                .monthly-events-scdeule
                    h2.event-month-name.text-center
                        span
                            |February 2017
                    <!--/.event-month-name-->
                    .events-list
                        .single-event
                            .row
                                .col-md-6.col-sm-6.col-xs-6
                                    .event-content
                                        .event-thumb
                                            img(src="images/event/img-1.jpg" alt="event-thumb")
                                        .event-info.clearfix
                                            .time-from
                                                h3.date
                                                    |<span>31</span> January 
                                                h4.day
                                                    | Tuesday
                                                h2.event-title
                                                    |Pixelll Manager;s Session
                                                a.btn.btn-details(href="event-list.html")
                                                    |view detail
                                            <!--/.time-from-->
                                        <!--/.event-info-->
                                    <!--/.event-content-->
                                <!--/.col-md-6-->
                                .col-md-6.col-sm-6.col-xs-6
                                    .event-content
                                        .event-thumb
                                            img(src="images/event/img-2.jpg" alt="event-thumb")
                                        .event-info.clearfix
                                            .time-from
                                                h3.date
                                                    |<span>31</span> January 
                                                h4.day
                                                    | Tuesday
                                                h2.event-title
                                                    |Pixelll Manager;s Session
                                                a.btn.btn-details(href="event-list.html")
                                                    |view detail
                                            <!--/.time-from-->
                                        <!--/.event-info-->
                                    <!--/.event-content-->
                                <!--/.col-md-7-->
                            <!--/.row-->
                        <!--/.single-event-->
                    <!--/.events-list-->
                <!--/.monthly-events-scdeule-->
            <!--/.col-md-6-->
        <!--/.row-->
    <!--/.container-->
<!--/.events-page-area-->