section.our-delicious-menu.jarallax(data-jarallax='{"speed": 0.3, "imgSrc": "images/menu/menu-bg-three.jpg" }')
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h3.section-name
                        | Today's Special
                    h2.section-title.italic-style
                        | Our Delicious Menu
                    p.section-title-dec
                        | Best offer from house chef
            .clearfix

            .col-md-12
                .menu-item-slider.owl-carousel
                    .item
                        .row
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-1.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-2.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-3.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-4.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .clearfix
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-5.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-6.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-7.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-8.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                        <!--/.row-->
                    <!--/.item-->
                    .item
                        .row
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-1.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-2.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-3.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-4.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .clearfix
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-5.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-6.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-7.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                            .col-md-3.col-sm-6.col-xs-6
                                .menu-item-two
                                    .image-area
                                        a(href="#")
                                            img(src="images/menu/menu-two-8.jpg" alt="menu-item")
                                    .menu-content.text-center
                                        .item-price
                                            .price-inner
                                                | $25
                                        h5.menu-title
                                            a(href="#")
                                                | Deer Steak with Potatoes
                        <!--/.row-->
                    <!--/.item-->
                <!--/.menu-item-slider-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.best-place-section-->