section.our-shop-section.bg-white-smoke
    .container
        .menu-content-area
            .row
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-1.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-2.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-3.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-4.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .clearfix
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-5.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-6.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-7.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-8.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .clearfix
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-1.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-2.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-3.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-4.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .clearfix
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-5.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-6.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-7.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
                .col-md-3.col-sm-6.col-xs-6
                    .menu-item-two
                        .image-area
                            a(href="#")
                                img(src="images/menu/menu-two-8.jpg" alt="menu-item")
                        .menu-content.text-center
                            .item-price
                                .price-inner
                                    | $25
                            h5.menu-title
                                a(href="#")
                                    | Deer Steak with Potatoes
            <!--/.row-->
            .row
                .col-md-12
                    //Paginations
                    nav.paginations
                        .post-pagination.paging-navigation
                            ul.nav-links
                                li.nav-previous
                                    //disabled add when no pagination
                                    a(href="#") <i class="fa fa-angle-left"></i>
                                li: a(href="#") 01
                                li.active: a(href="#") 02
                                li: a(href="#") 03
                                li: a(href="#") 04
                                li: a(href="#") 05
                                li: a(href="#") 102
                                li.nav-next
                                    a(href="#") <i class="fa fa-angle-right"></i>
                        <!--/.post-pagination-->
                    <!--/.pagination-->
                <!--/.col-md-12-->
            <!--/.row-->
    <!--/.container-->
<!--/.our-menu-section-->